*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about-page{
width: 100%;
height: 100%;
border-radius: 10px;
margin-top: 35px;
color: #eee;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;
top: 100px;
left: 80px;
}
.about-page h1{
    transform: translateY(-10px);
}
.profile-info{
    width: fit-content;
    height: fit-content;
    border: 2px solid rgb(58, 52, 52);
    border-radius: 30px;
    box-shadow: 1px 1px 25px 1px rgb(15, 3, 124);
    display: flex;
    padding: 25px;
    
}
#profileImg{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.intro{
width: 400px;
height: 300px;
padding-left: 50px;
}
.intro p{
    text-align: left;
}
.intro h2{
    text-align: left;
  color:  #f0b802;
}
.resume{
    width: 550px;
    height: 400px;
    position: absolute;
    right: 10px;
    top: 170%;
}
iframe{
    width: 100%;
    height: 400px;
    object-fit: cover;
    background-size: cover;
}
.resume h2{
    color: orange;
}
@media only screen and (max-width: 560px) {
    .about-page{
        max-width: 550px;
        height: 500px;
    }
    .profile-info{
        padding-bottom: 60px;
        flex-direction: column;
    }
    .intro{
        padding-right: 20px;
    }
    #profileImg{
        width: 200px;
        height: 200px;   
    }
    .resume{
        width: 260px;
        height: 200px;
        top: 150%;
    }
    iframe{
        width: 100%;
        height: 200px;
    }
    
}