*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home-page{
    width: 100%;
    height: 100%;
}
#homeImg{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    margin-top: 39px;
}